* {
  font-family: AvantGarde Bk BT;
  box-sizing: border-box;
}
body {
  color: #e18500;
  background: linear-gradient(
      to left,
      rgba(65, 65, 65, 0.79),
      rgba(65, 65, 65, 0.79)
    ),
    url("/img/background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
}
h2 {
  margin-bottom: 0;
}
.modal-container {
  background-color: rgba(214, 214, 214, 0.925);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s ease;
  display: grid;
  grid-template-columns: 70%;
  align-content: center;
  justify-content: center;
}
.modal-box {
  padding: 20px;
}
label,
input,
select {
  width: 100%;
}
input,
select {
  border: 1px solid #9c9c9c;
  height: 30px;
  background-color: #e2e2e2;
}
.button-normal {
  background-color: transparent;
  border: none;
  justify-self: center;
}
.accept-btn {
  border: 1px solid #acacac;
  background-color: #e1e1e1;
}
label,
input,
select {
  margin: 10px;
}
.modal-btn-container {
  display: grid;
  grid-template-columns: 20% 20% auto;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.component-navigation > .btn-container {
    justify-self: end;
}
.component-navigation {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
}
.table-header {
  padding: 5px;
  background: #6d6d6d;
  border: 1px solid #e18500;
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
  align-content: center;
  margin-bottom: 20px;
}
.table-row {
  border: none;
  padding: 5px;
  background: #c2c2c2;
  color: black !important;
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
  align-content: center;
  font-weight: 800;
  transition: 0.3s all;
}
.table-row:nth-child(even) {
  background-color: #d2d2d2;
}