* {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  box-sizing: border-box;
}
html {
  padding: 10px;
}
body {
  color: #e18500;
  background: url('../../../public/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.slide-enter-active {
  animation: slide-in 0.2s ease-out;
}
.slide-leave-active {
  animation: slide-out 0.2s ease-out;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
h2 {
  margin-bottom: 0;
}
.modal-container {
  background-color: rgba(214, 214, 214, 0.925);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s ease;
  display: grid;
  grid-template-columns: 70%;
  align-content: center;
  justify-content: center;
}
.modal-box {
  padding: 20px;
}
label,
input,
select {
  width: 100%;
}
input,
select {
  border: 1px solid #9c9c9c;
  height: 30px;
  background-color: #e2e2e2;
}
.button-normal {
  background-color: transparent;
  border: none;
  justify-self: center;
}
.accept-btn {
  border: 1px solid #acacac;
  background-color: #e1e1e1;
}
label,
input,
select {
  margin: 10px;
}
.modal-btn-container {
  display: grid;
  grid-template-columns: 20% 20% auto;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.component-navigation > .btn-container {
  justify-self: end;
  align-self: center;
}
.component-navigation {
  display: grid;
  grid-template-columns: auto 80%;
  margin-bottom: 20px;
}
.table-header {
  padding: 5px;
  background: #6c6bcb;
  border: 1px solid #4f4e95;
  color: white;
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
  align-items: center;
  margin-bottom: 20px;
}
.table-row {
  border-bottom: 1px solid black;
  padding: 5px;
  background: #ffffff;
  color: black !important;
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
  align-items: center;
  transition: 0.3s all;
}
.table-row:nth-child(even) {
  background-color: #d2d2d2;
}
.table-header,
.table-row {
  padding: 10px;
}
.component-navigation > h2 {
  padding-left: 10px;
  position: relative;
  background-color: rgba(255, 208, 188, 0.726);
  color: black;
}
.component-navigation > h2:before {
  content: "";
  margin-left: -10px;
  width: 3%;
  height: 100%;
  background-color: rgb(246, 172, 0);
  position: absolute;
}
.component-navigation > h2:after {
  content: "";
  margin-left: -10px;
  width: 1%;
  height: 100%;
  background-color: rgb(246, 172, 0);
  right: 0px;
  position: absolute;
}
.logo-login {
  width: 100%;
  margin-bottom: 15%;
}
.login-page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
}
.login-container {
  display: grid;
  height: 60vh;
  width: 45vh;
  background-color: #414141;
  border: 1px solid #e18500;
  grid-template-columns: 80%;
  align-content: center;
  justify-content: center;
}
label,
input,
select {
  width: 100%;
}
label {
  font-size: 15px;
  color: #e18500;
}
.submit-button {
  font-size: 20px;
  color: #e18500;
  margin-top: 20px;
  border: 1px solid #e18500;
  padding: 5px;
  transition: 0.2s all;
}
.submit-button:hover {
  color: #e18500;
  background-color: #fadcaf;
}
@media (max-width: 767px) {
  .login-container {
    height: 100vh;
    grid-template-columns: 100%;
    background-color: transparent;
    border: none;
  }
  .logo-login {
    margin-top: 0%;
  }
}

