* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  font-size: 0.9rem;
}
body {
  color: #e18500;
  background-color: #f3f3f3;
  height: 100vh;
  background-repeat: no-repeat;
}
.slide-enter-active {
  animation: slide-in 0.2s ease-out;
}
.slide-leave-active {
  animation: slide-out 0.2s ease-out;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
#application {
  display: grid;
  grid-template-columns: 15% 85%;
}
.app-body {
  padding: 40px;
}
.header ul li {
  list-style: none;
}
h2 {
  margin-bottom: 0;
}
.add-button {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 60px;
  cursor: pointer;
  color: #ec8640;
  transition: 0.3s;
}
.add-button:hover {
  transform: scale(1.2);
}
.modal-container {
  background-color: white;
  border-left: 1px solid #d2d2d2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s ease;
  display: grid;
  grid-template-columns: 70%;
  align-content: center;
  justify-content: center;
  height: 100%;
}
.modal-box {
  padding: 20px;
}
label,
input,
select {
  width: 100%;
}
input,
select {
  border: 1px solid #d2d2d2;
  height: 40px;
  background-color: #f3f3f3;
  padding: 5px;
}
.button-normal {
  background-color: transparent;
  border: none;
  justify-self: center;
}
.accept-btn {
  border: 1px solid #d2d2d2;
  background-color: #f3f3f3;
}
label,
input,
select {
  margin: 5px;
}
.modal-btn-container {
  display: grid;
  grid-template-columns: 20% 20% auto;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.component-navigation > .btn-container {
  justify-self: end;
  align-self: center;
  margin-right: 5px;
}
.component-navigation {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
}
.btn-container input {
  height: 24px;
}
.table-header {
  padding: 5px;
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(216, 75, 75, 1) 0%,
    rgba(238, 139, 63, 1) 100%
  );
  color: white;
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
  align-items: center;
  margin-bottom: 20px;
}
.table-row {
  border-bottom: 1px solid #d2d2d2;
  padding: 5px;
  background: #ffffff;
  color: black !important;
  display: grid;
  grid-template-columns: 5% 45% 15% 15% 15% 5%;
  align-items: center;
  transition: 0.3s all;
}
.table-row:hover {
  background: #dadada;
}
.table-header,
.table-row {
  padding: 10px;
}
.component-navigation > h2 {
  position: relative;
  color: black;
}
.logo-login {
  width: 100%;
  margin-bottom: 15%;
}
.login-page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 50%;
  align-content: center;
  justify-content: center;
}
.login-container {
  border-top-right-radius: 10%;
  display: grid;
  height: 100%;
  width: 50vh;
  background-color: #ffffff;
  grid-template-columns: 80%;
  align-content: center;
  justify-content: center;
}
.login-container > form > label {
  color: black;
}
label,
input,
select {
  width: 100%;
}
label {
  font-size: 15px;
  color: #d94e4a;
}
.submit-button {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  background-color: #6363bc;
  border: none;
  padding: 5px;
  transition: 0.2s all;
}
button,
label {
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .login-container {
    grid-template-columns: 100%;
    border: none;
    padding: 20px;
  }
  .logo-login {
    margin-top: 0%;
  }
}
